@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-ExtraBold.eot');
    src: url('subset-FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-ExtraBold.woff2') format('woff2'),
        url('subset-FiraSans-ExtraBold.woff') format('woff'),
        url('subset-FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-SemiBoldItalic.eot');
    src: url('subset-FiraSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-SemiBoldItalic.woff2') format('woff2'),
        url('subset-FiraSans-SemiBoldItalic.woff') format('woff'),
        url('subset-FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-LightItalic.eot');
    src: url('subset-FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-LightItalic.woff2') format('woff2'),
        url('subset-FiraSans-LightItalic.woff') format('woff'),
        url('subset-FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-BlackItalic.eot');
    src: url('subset-FiraSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-BlackItalic.woff2') format('woff2'),
        url('subset-FiraSans-BlackItalic.woff') format('woff'),
        url('subset-FiraSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-Black.eot');
    src: url('subset-FiraSans-Black.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-Black.woff2') format('woff2'),
        url('subset-FiraSans-Black.woff') format('woff'),
        url('subset-FiraSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-ExtraBoldItalic.eot');
    src: url('subset-FiraSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-ExtraBoldItalic.woff2') format('woff2'),
        url('subset-FiraSans-ExtraBoldItalic.woff') format('woff'),
        url('subset-FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-Medium.eot');
    src: url('subset-FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-Medium.woff2') format('woff2'),
        url('subset-FiraSans-Medium.woff') format('woff'),
        url('subset-FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-Thin.eot');
    src: url('subset-FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-Thin.woff2') format('woff2'),
        url('subset-FiraSans-Thin.woff') format('woff'),
        url('subset-FiraSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-Regular.eot');
    src: url('subset-FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-Regular.woff2') format('woff2'),
        url('subset-FiraSans-Regular.woff') format('woff'),
        url('subset-FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-Italic.eot');
    src: url('subset-FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-Italic.woff2') format('woff2'),
        url('subset-FiraSans-Italic.woff') format('woff'),
        url('subset-FiraSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-BoldItalic.eot');
    src: url('subset-FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-BoldItalic.woff2') format('woff2'),
        url('subset-FiraSans-BoldItalic.woff') format('woff'),
        url('subset-FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-Bold.eot');
    src: url('subset-FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-Bold.woff2') format('woff2'),
        url('subset-FiraSans-Bold.woff') format('woff'),
        url('subset-FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-ExtraLightItalic.eot');
    src: url('subset-FiraSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-ExtraLightItalic.woff2') format('woff2'),
        url('subset-FiraSans-ExtraLightItalic.woff') format('woff'),
        url('subset-FiraSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-ExtraLight.eot');
    src: url('subset-FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-ExtraLight.woff2') format('woff2'),
        url('subset-FiraSans-ExtraLight.woff') format('woff'),
        url('subset-FiraSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-MediumItalic.eot');
    src: url('subset-FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-MediumItalic.woff2') format('woff2'),
        url('subset-FiraSans-MediumItalic.woff') format('woff'),
        url('subset-FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-SemiBold.eot');
    src: url('subset-FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-SemiBold.woff2') format('woff2'),
        url('subset-FiraSans-SemiBold.woff') format('woff'),
        url('subset-FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-Light.eot');
    src: url('subset-FiraSans-Light.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-Light.woff2') format('woff2'),
        url('subset-FiraSans-Light.woff') format('woff'),
        url('subset-FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-ThinItalic.eot');
    src: url('subset-FiraSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-FiraSans-ThinItalic.woff2') format('woff2'),
        url('subset-FiraSans-ThinItalic.woff') format('woff'),
        url('subset-FiraSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

