include head
body
    header.header 
        .top-line
            .container
                .contacts
                    .work-time
                        svg.icon.icon-clock
                            use(href="/img/icons.svg#icon-clock")
                        .days Mon - Sun 09:00 - 21:00

                    .phone-box
                        svg.icon.icon-phone
                            use(href="/img/icons.svg#icon-phone")
                        a.phone('tel:+1-2345-3455-33') +1-2345-3455-33

                    .email-box
                        svg.icon.icon-email
                            use(href="/img/icons.svg#icon-email")
                        a.email('mailto:contact@mediztheme.com') contact@mediztheme.com

                .socials 
                    a.link.link-vk(href='#')
                        svg.icon
                            use(href="/img/icons.svg#icon-vk")
                    a.link.link-ytube(href='#')
                        svg.icon
                            use(href="/img/icons.svg#icon-ytube")
                    a.link.link-fbk(href='#')
                        svg.icon
                            use(href="/img/icons.svg#icon-fb")
                    a.link.link-tw(href='#')
                        svg.icon
                            use(href="/img/icons.svg#icon-tw")
                    a.link.link-lin(href='#')
                        svg.icon
                            use(href="/img/icons.svg#icon-lin")
                    a.link.link-inst(href='#')
                        svg.icon
                            use(href="/img/icons.svg#icon-inst")

        .middle-line
            .container
                a.logo(href='#')
                    img.logo-img(src='#' alt='#')

        .bottom-line
            .container
                ul.navigation 
                    li.nav-item
                        a.nav-link(href='#') Home
                    li.nav-item
                        a.nav-link(href='#') About us 
                    li.nav-item
                        a.nav-link(href='#') Services 
                    li.nav-item
                        a.nav-link(href='#') Doctors 
                    li.nav-item
                        a.nav-link(href='#') Contacts

                button.btn.btn--blue.js-callback Contact Now

                form.callback
                    input(type='hidden' value='header-callback')
                    p.callback-message Оставьте свои контактные данные, наш оператор перезвонит вам как только освободится
                    input(type='text' placeholder='Your name')
                    input(type='text' placeholder='Your phone')
                    input(type='submit' value='Send')