* {
    font-family: 'Fira Sans';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    body {
        width: 100%;
        min-height: 100%;
        height: auto;
        font-size: 0.520835vw;
        .container {
            max-width: 1320px;
            margin: 0 auto;
            padding: 0 0.2em;
        }
    }
}